body{
    background-color: rgb(211, 211, 211);
    /* background-image:url("fony_04_small.png");  */
}
.p{
    font-family: Berlin Sans FB;
    font-size:20px;
    padding-left:600px;
}
#ha{
color:red

}
#a{
padding-left:500px; 
padding-top:50px;
width:400px;;
height:400px;
align-items: center;
}

.sequare{

 width:120px;
 height:120px;
 background-color: rgb(144, 175, 166);
 margin:3px;
 font-size:100px;
 color:rgb(163, 133, 10);
 float: left;
 text-align:center;
}
#restart{

    padding-left:100px;
    text-align:center;
    margin-left:500px;
   padding-right:90px;
    font-size:30px;
    background-color:rgb(202, 204, 181);
    display:inline;
    color: rgb(66, 78, 75);
    border-radius:20px;
    font-family: Berlin Sans FB;   
    box-shadow:#383634 5px 15px 15px;
    background-image:linear-gradient(45deg,#60a3bc,#38ada9
    ,#0a3d62,#82ccdd,#78e08f,#079992,#b8e994);
    background-size: 500px;
}
#restart:hover{
   background-color: rgb(163, 133, 10);
   border:solid 3px #000;
   animation:hover 4s infinite
}
@keyframes hover{
    0%{
background-position: right;
    }
    100%{
background-position: left;
}
}