body{
    background-color: rgb(211, 211, 211);
    
}
.p{
    font-family: Berlin Sans FB;
    font-size:20px;
    padding-left:600px;
}
#a{
padding-left:500px; 
padding-top:80px;
width:400px;;
height:400px;
align-items: center;
}

.sequare{

 width:120px;
 height:120px;
 background-color: rgb(144, 175, 166);
 margin:3px;
 font-size:120px;
 color:rgb(163, 133, 10);
 float: left;
 text-align:center;
}
#restart{

    padding-left:100px;
    text-align:center;
    margin-left:500px;
   padding-right:90px;
    font-size:30px;
    background-color:rgb(202, 204, 181);
    display:inline;
    color: rgb(66, 78, 75);
    border-radius:20px;
    font-family: Berlin Sans FB;   
}
#restart:hover{
   background-color: rgb(163, 133, 10);
   border:solid 3px #000
}
