#a{
padding-left:500px; 
padding-top:150px;
width:400px;;
height:400px;



}
#sequare{

    width:120px;
    height:120px;
    background-color: rgb(122, 70, 170);
    margin:3px;
    font-size:90px;
    color:cornsilk;
    float: left;
    text-align:center;
}

